spring:
  batch:
    jdbc:
      initialize-schema: embded
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/batch?autoReconnect=true&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&serverTimezone=Asia/Seoul
    username: root
    password: 0008
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        ddl-auto: create
        default_batch_fetch_size: 1000
        format_sql: true
        show_sql: true
        use_sql_comments: true
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
